@tailwind base;
@tailwind components;
@tailwind utilities;

.heads {
  font-weight: 750;
}

.table :not(.hello *) {
  background-color: rgb(30 41 59);
  color: rgb(148 163 184);
}

.etable :not(.a *) {
  background-color: rgb(31 41 55);
  color: rgb(148 163 184);
}

:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}
